
body.site.index {
  height: 100%;

  header {
    @include position(absolute, 0px 0px null 0px);
    background: none;

    nav div a {
      color: rgba(255, 255, 255, 0.6) !important;
      &.cta {
        padding: 0.5em 0.75em 0.6em;
        border-radius: 2em;
        background: rgba(255,255,255,0.8);
        color: rgb(72, 71, 69) !important;
      }

      &:hover {
        background: none !important;
        color: rgba(255, 255, 255, 1) !important;
        &.cta {
          background: rgb(255,255,255) !important;
          color: rgb(72, 71, 69) !important;
        }
      }
    }
  }

  main {
    padding: 0px;
    width: auto;
    height: 100%;
  }
}
