
// Colors
$white: #fff;

// Fonts
$base-font-size: 16px;
$mobile-font-size: 12px;

// Images
$hero-image: 'time-money';

// Responsive breakpoints
@import "neat-helpers";
$tiny: new-breakpoint(max-width 450px);
$small: new-breakpoint(max-width 590px);
$mobile: new-breakpoint(max-width 767px);
$not-mobile: new-breakpoint(min-width 768px);
$tablet: new-breakpoint(min-width 768px max-width 979px);
$not-desktop: new-breakpoint(max-width 979px);
$desktop: new-breakpoint(min-width 980px);
