<section class="hero">
  <div class="introduction">
    <h2>You work hard for your money.</h2>
    <h3>Don't let it burn a hole in your pocket.</h3>
  </div>
  <div class="brand">
    MoneyClip.io
  </div>
</section>
